
// Fonts
@import url('https://fonts.googleapis.com/css?family=Cinzel');

// Variables
@import 'variables';

$theme-colors: (
  "primary": #0D386E,

);
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  color: white;
  background-color: #0091ac;
  font-family: 'Cinzel', serif;
}

h1 {
  color: white;
}

.card {
  color: black !important;
  background-color: #F5F5F5;
}

hr {
background-color: white;
}
